* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
    font-weight: 100;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Medium), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Bold), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
    font-weight: 700;
}

.nav {
    height: 50px;
    margin: 0;
}

.sidenav{
    font-family: "Roboto", sans-serif;
    height: 120%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10%;
    z-index: 6;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 5.7vw;
    color: #444444;
    display: block;
    transition: 0.7s;
}

.sidenav a:nth-child(5){
    padding-bottom: 16px;
    border-bottom: 1px solid black;
    margin-bottom: 3%;
}

.sidenav a.min {
    color: #2195f3;
    font-size: 4.8vw;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 6;
}

.nav-mobile {
    height: 100%;
    z-index: 0;
}

.nav-desktop {
    height: 100%;
    position: relative;
    z-index: 2;
    top: -60px;
}

.nav_menu_container{
    display: none;
    float: right;
    margin-right: 15px;
}

.nav_menu{
    margin: 22px 10px 0;
    display: inline-block;
}

.nav_menu:first-child {
    margin-top: 18px;
    padding: 2px 5px;
    border: 2px solid #2195f3;;
}

.nav_menu:last-child {
    margin-right: 0;
    margin-left: 200px;
}

.nav_enter{
    border-right: 1px solid #bbbbbd;
    padding-right: 7px;
}
.nav_register {
    padding-left: 7px;
}

.nav_item {
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 11pt;
}

.nav_enter_a{
    color: #ababad;
}

.nav_enter_a:hover{
    color: black;
}

.desktop-logo {
    display: none;
}

.mobile-logo {
    display: block;
    margin: auto;
    padding: 0
}

.logo {
    height: 100%;
    position: relative;
}

.logo-img {
    height: 100%;
    max-width: 100%;
}

.menu {
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
}

.menu-img {
    position: absolute;
    top: 42%;
    left: 25%;
    height: 50%;
}

.menu-img:hover {
    cursor: pointer;
}

.footer_block {
    background-color: #2195f3;
    font-family: "Roboto", sans-serif;
}

.footer_block-block {
    line-height: 1.6;
    margin-top: 7%;
    padding-left: 12%;
}

.footer_block-block:nth-child(3){
    text-align: center;
}

.footer_block-header {
    font-size: 6.5vw;
    font-weight: 400;
}

.footer_block-paragraph {
    font-size: 4.8vw;
    font-weight: 300;
}

.ninth_block-logo-div {
    margin-top: 7%;
    text-align: center;
}

.footer_block-logo {
    max-width: 85%;
    /*padding: 0 17%;*/
    margin-bottom: -3%;
}

.footer_block-paragraph2 {
    font-family: "Comic Sans MS", sans-serif;
    color: white;
    font-size: 5vw;
}

.footer_block-social {
    margin-left: 35%;
    margin-top: 3%;
}

.footer_block-vk-logo {
    display: block;
    float: left;
    max-width: 80%;
}

.footer_block-OK-logo {
    display: block;
    float: left;
    max-width: 75%;
}

.footer_block_rights {
    text-align: center;
    font-size: 4vw;
    margin-top: 5%;
}

@media screen and  (orientation: landscape) {
    .sidenav {
        padding-top: 5%;
    }

    .sidenav a {
        font-size: 4vw;
        color: #444444;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:nth-child(5) {
        padding-bottom: 16px;
        border-bottom: 1px solid black;
        margin-bottom: 3%;
    }

    .sidenav a.min {
        color: #2195f3;
        font-size: 3.4vw;
    }
}

@media screen and (min-width: 481px) and (orientation: landscape){
    .sidenav {
        padding-top: 8%;
    }

    .sidenav a {
        font-size: 3vw;
    }

    .footer_block-header {
        font-size: 5vw;
        font-weight: 400;
    }

    .footer_block-paragraph {
        font-size: 3.7vw;
        font-weight: 300;
    }

    .footer_block-logo {
        max-width: 45%;
        margin-bottom: -5%;
    }

    .footer_block-paragraph2 {
        font-family: "Comic Sans MS", sans-serif;
        color: white;
        font-size: 3.7vw;
    }

    .footer_block-social {
        margin-top: 2%;
        margin-left: 5%;
    }

    .footer_block-vk-logo {
        display: block;
        float: left;
        max-width: 50%;
    }

    .footer_block-OK-logo {
        display: block;
        float: left;
        max-width: 45%;
    }

    .footer_block_rights {
        text-align: center;
        font-size: 3vw;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 576px){
    .sidenav {
        padding-top: 5%;
    }

    .sidenav a{
        font-size: 1.5em;
    }

    .footer_block-block {
        line-height: 1.6;
        margin-top: 7%;
        padding-left: 8%;
    }

    .footer_block-block:nth-child(2){
        padding-left: 0;
    }


    .footer_block-header {
        font-size: 3.5vw;
        font-weight: 400;
    }

    .footer_block-paragraph {
        font-size: 2vw;
        font-weight: 300;
    }

    .ninth_block-logo-div {
        margin-top: 3%;
    }

    .footer_block-logo {
        max-width: 55%;
        padding: 0 17%;
        margin-bottom: -3%;
    }

    .footer_block-paragraph2 {
        font-family: "Comic Sans MS", sans-serif;
        color: white;
        font-size: 2vw;
    }

    .footer_block-social {
        margin-left: 35%;
        margin-top: 1.5%;
    }

    .footer_block-vk-logo {
        display: block;
        float: right;
        margin-right: 5%;
        max-width: 30%;
    }

    .footer_block-OK-logo {
        display: block;
        float: left;
        margin-left: 5%;
        max-width: 25%;
    }

    .footer_block_rights {
        text-align: center;
        font-size: 1.5vw;
        margin-top: 3%;
    }
}

@media only screen and (min-width: 769px){
    .sidenav {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .desktop-logo {
        display: block;
    }

    .mobile-logo {
        display: none;
    }

    .menu {
        display: none;
    }

    .nav {
        height: 60px;
    }

    .nav_menu_container {
        display: block;
    }

    .nav_menu:last-child {
        margin-right: 0;
        margin-left: 48px;
    }
}

@media screen and (min-width: 1200px){
    .footer_block {
        padding: 0 12%;
    }

    .footer_block-block {
        line-height: 1.6;
        margin-top: 3%;
        padding-left: 5%;
    }

    .footer_block-block:nth-child(2) {
        padding-left: 0.5%;
    }

    .footer_block-header {
        font-size: 1.8vw;
        font-weight: 400;
    }

    .footer_block-paragraph {
        font-size: 1.1vw;
        font-weight: 300;
    }

    .footer_block-logo {
        max-width: 80%;
    }

    .footer_block-paragraph2 {
        font-family: "Comic Sans MS", sans-serif;
        color: white;
        font-size: 1.3vw;
    }

    .footer_block-social {
        margin-top: 3%;
        margin-left: 35%;
    }

    .footer_block-vk-logo {
        display: block;
        float: left;
        max-width: 60%;
    }

    .footer_block-OK-logo {
        display: block;
        float: left;
        max-width: 55%;
    }

    .footer_block_rights {
        text-align: center;
        font-size: 1vw;
        margin-top: 5%;
        margin-bottom: 2%;
    }
}