@mini_phone: 325px;
@tablet: 576px;
@big_tablet: 768px;
@sm_screen: 992px;
@lg_screen: 1200px;

@blue_color: #00b0ff;
@light_grey_color: #f6f8fa;
@white: #ffffff;
@black_text: #2f2e2e;
@light_grey_text: #a0a09f;
@dark_grey_text: #858585;
@grey_border: #e0e0e0;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic');

a{
  text-decoration: none;
  text-decoration: -moz-none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.first-block{
  margin: 0;
  background: url("../img/first_block-background.jpg") bottom center;
  background-size: cover;

  &--container {
    text-align: center;
    padding: 15% 3%;

    @media only screen and (min-width: @tablet) {
      padding: 10% 9%;
    }

    @media only screen and (min-width: @big_tablet) {
      padding: 8% 10%;
    }

    @media only screen and (min-width: @sm_screen) {
      padding: 8% 15%;
    }
  }

  &__header{
    color: white;
    font-weight: 400;
    font-size: 1.3rem;

    @media only screen and (min-width: @tablet){
      font-size: 1.4rem;
    }

    @media only screen and (min-width: @big_tablet){
      font-size: 1.6rem;
    }

    @media only screen and (min-width: @sm_screen){
      font-size: 2rem;
    }

    @media only screen and (min-width: @lg_screen){
      font-size: 2.4rem;
    }
  }

  &__subheader{
    display: none;

    @media only screen and (min-width: @tablet){
      margin-top: 2%;
      font-size: 1rem;
      font-weight: 300;
      //font-family: 'Open Sans Condensed', sans-serif;
      display: block;
      color: #cccccc;
    }

    @media only screen and (min-width: @big_tablet){
      font-size: 1.1rem;
    }

    @media only screen and (min-width: @sm_screen){
      font-size: 1.4rem;
    }
  }
}

.second-block{
  background-color: white;

  &__container{
    width: 95%;
    margin: 10% auto 0;

    @media only screen and (min-width: @tablet){
      width: 85%;
      margin: 5% auto 0;
    }

    @media only screen and (min-width: @lg_screen){
      width: 75%;
    }
  }

  &__header{
    text-align: center;
    text-align: -moz-center;
    font-size: 1.5rem;

    @media only screen and (min-width: @sm_screen){
      font-size: 1.8rem;
    }
  }

  &__subheader{
    text-align: center;
    text-align: -moz-center;
    font-size: 0.9rem;
    margin-top: 2%;

    @media only screen and (min-width: @sm_screen){
      margin-bottom: 2%;
    }
  }
}

.category{

  margin-top: 35px;

  @media only screen and (min-width: @tablet){
    margin-top: 30px;
  }

  &__img{
    height: 30px;
    width: auto;
    padding-left: 25%;

    @media only screen and (min-width: @sm_screen){
      height: 30px;
    }
  }

  &__header{
    line-height: 30px;
    padding-left: 3%;
    text-decoration: none;
    text-decoration: -moz-none;
    color: @black_text;
    font-size: 1.2rem;
    font-weight: 300;

    @media only screen and (min-width: @sm_screen){
      line-height: 30px;
    }
  }
}

.subcategory{

  padding-left: 3%;
  //font-family: 'Open Sans Light', arial;
  margin-top: 3%;

  @media only screen and (min-width: @sm_screen){
    margin-top: 5%;
  }

  &__item{
    list-style-type: none;
    margin-bottom: 3%;
    font-size: 0.9rem;
    font-weight: 300;

    @media only screen and (min-width: @sm_screen){
      margin-bottom: 4.5%;
    }

    &--text{
      text-decoration: none;
      text-decoration: -moz-none;
      color: @blue_color;
    }
  }
}

.button-wrapper{
  margin: 35px auto;

  @media only screen and (min-width: @sm_screen){
    margin: 45px auto;
  }

  &--small-margin{
    margin: 20px auto;

    @media only screen and (min-width: @sm_screen){
      margin: 25px auto 15px;
    }
  }
}

.button{
  cursor: pointer;
  border: none;
  text-decoration: none;
  width: fit-content;
  width: -moz-fit-content;
  //width: -webkit-fit-content;
  padding: 8px 40px;
  border-radius: 6px;

  @media only screen and (min-width: @tablet){
    //padding: 1.5% 4%;
    font-size: 0.9rem;
  }

  &--white-blue-border{
    background-color: white;
    border: 1px solid @blue_color;
    color: @blue_color;
  }

  &--blue{
    background-color: @blue_color;
    color: @white;
  }

  &--bordered{
    border: 2px solid @grey_border;
    border-radius: 5px;
  }

  &--big-font{
    font-size: 1.15rem;
    //font-weight: 300;
    padding: 5px 15px;

    @media only screen and (min-width: @mini_phone){
      font-size: 1.3rem;
    }
  }

  &--orange{
    background-color: #f57c00;
    color: @white;
    //margin-bottom: 10px;
  }

  &--center{
    display: block;
    margin: 0 auto;
    /*margin: 5% auto 0;

    @media only screen and (min-width: @sm_screen){
      margin: 3% auto 0;
    }*/
  }

  &--full-container{
    min-width: 100%;
    min-height: 80%;
    //margin-top: 5%;
  }

  &--bold{
    font-weight: 600;
  }
}

.why-block{
  background-color: @blue_color;
  color: @white;

  &__container{
    width: 90%;
    margin: 0 auto;
    padding: 10% 0;
    text-align: -moz-center;
    text-align: center;

    @media only screen and (min-width: @tablet){
      width: 75%;
      padding: 6% 0;
    }

    @media only screen and (min-width: @sm_screen){
      width: 70%;
      padding: 6% 0;
    }

    @media only screen and (min-width: @lg_screen){
      width: 750px;
    }
  }

  &__header{
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 5%;

    &--one-header{
      margin-bottom: 0;
    }

    @media only screen and (min-width: @tablet){
      margin-bottom: 4%;
      //padding: 0 20%;
    }

    @media only screen and (min-width: @sm_screen){
      font-size: 2rem;
      margin-bottom: 3%;
    }
  }

  &__text{
    font-size: 1rem;
    color: @white;

    @media only screen and (min-width: @tablet){
      font-size: 0.8rem;
    }

    @media only screen and (min-width: @sm_screen){
      font-size: 1.2rem;
    }

    &--small{
      font-size: 0.75rem;
      margin-top: 25px;
    }

    &--link{
      color: @white;
      text-decoration: underline;
    }
  }
}

.third-block{
  background-color: @light_grey_color;

  &--optional{
    padding-top: 3%;
    background-color: #fafafa;
    display: none;

    @media only screen and (min-width: @big_tablet){
      display: block;
    }
  }

  &__container{
    width: 85%;
    margin: 0 auto;
    padding: 15% 0;

    @media only screen and (min-width: @tablet){
      width: 95%;
      padding: 8% 0 7%;
    }

    @media only screen and (min-width: @big_tablet){
      //padding: 2% 0;
    }

    @media only screen and (min-width: @sm_screen){
      width: 85%;
    }

    @media only screen and (min-width: @lg_screen){
      width: 1200px;
    }
  }

  /*&__header{
    display: none;

    @media only screen and (min-width: @big_tablet){
      display: block;
      //margin: 0 auto;
      text-align: center;
      text-align: -moz-center;
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: 3.5%;
    }
  }*/
}

.item{
  text-align: center;
  text-align: -moz-center;
  margin-bottom: 35px;

  @media only screen and (min-width: @tablet){
    padding: 0 0.5%;
  }

  @media only screen and (min-width: @big_tablet){
    margin-bottom: 2%;
  }

  &:last-child{
    margin-bottom: 0;
  }

  &__img{
    height: 65px;
  }

  &__header{
    margin-top: 1%;
    padding: 0 2%;
    font-size: 1.1rem;
    font-weight: 400;

    @media only screen and (min-width: @mini_phone){
      font-size: 1.2rem;
    }

    @media only screen and (min-width: @big_tablet){
      font-size: 1.1rem;
    }
  }

  &__text{
    margin-top: 4%;
    font-weight: 300;
    font-size: 0.8rem;
    margin-bottom: 4%;
    color: @light_grey_text;

    @media only screen and (min-width: @mini_phone){
      font-size: 0.8rem;
    }

    &--alloted{
      color: @blue_color;
      //text-decoration: underline;
    }
  }
}

.fourth-block{

  &--own-supplier{
    background-color: @light_grey_color;
  }

  &__container{
    width: 90%;
    margin: 0 auto;
    padding: 15% 0;

    @media only screen and (min-width: @tablet){
      width: 75%;
      padding: 5% 0;
    }

    @media only screen and (min-width: @big_tablet){
      width: 85%;
    }



    @media only screen and (min-width: @lg_screen){
      width: 980px;
      padding-top: 8%;
    }

    &--right{
      padding: 0;
      width: 100%;

      @media only screen and (min-width: @tablet){
        width: 70%;
      }

      @media only screen and (min-width: @big_tablet){
        width: 100%;
      }

      @media only screen and (min-width: @lg_screen){
        //padding: 0 0 0 50px;
        padding: 0 0 0 60px;
      }
    }

    &--snake{

      @media only screen and (min-width: @big_tablet){
        width: 80%;
      }

      @media only screen and (min-width: @sm_screen){
        width: 65%;
      }

      @media only screen and (min-width: @lg_screen){
        width: 900px;
      }
    }
  }

  &__header{
    text-align: center;
    text-align: -moz-center;
    font-size: 1.3rem;
    font-weight: 300;
    padding: 0 5%;
    margin-bottom: 8%;
    color: @black_text;

    @media only screen and (min-width: @mini_phone){
      font-size: 1.6rem;
    }

    &--blue{
      color: @blue_color;
    }

    @media only screen and (min-width: @tablet){
      margin-bottom: 5%;
    }

    @media only screen and (min-width: @big_tablet){
      margin-bottom: 8%;
    }

    @media only screen and (min-width: @sm_screen){
      font-size: 2.1rem;
      margin-bottom: 10%;
    }

    &--larger{
      font-size: 2rem;
      font-weight: 600;
    }
  }

  &__subheader{
    text-align: center;
    text-align: -moz-center;
    color: @dark_grey_text;
    font-size: 0.9rem;
    margin-bottom: 40px;
  }
}

.rel-block{
  display: none;

  @media only screen and (min-width: @big_tablet){
    display: flex;
    display: -moz-flex;
  }
}

.list-block{

  display: block;

  @media only screen and (min-width: @big_tablet){
    display: none;
  }

  &--bordered{
    border-radius: 5px;
    border: 1px solid @grey_border;
    padding: 30px 5%;
    //height: 120px;
    //align-content: center;

    &--right-margin{
      margin-right: 5%;
    }

    &--left-margin{
      margin-left: 5%;
    }
  }

  &--fixed-height{
    min-height: 40px;
  }

  &--right-border{
    border-right: 1px solid @grey_border;
  }

  &__img{
    display: block;
    margin: 0 auto;
    height: 75px;

    &--2{
      float: left;
      //height: 150px;
      margin-left: 15px;
      margin-bottom: 15px;

      &--right{
        float: right;
        //height: 150px;
        margin-right: 15px;
        margin-bottom: 15px;
      }
    }
  }

  &__header{
    font-size: 1.3rem;
    font-weight: 400;
    color: @black_text;
    margin-bottom: 3%;
  }

  &__text{
    font-size: 0.9rem;
    font-weight: 300;
    color: @dark_grey_text;
    line-height: 1.5rem;

    &--link{
      color: @blue_color;
    }
  }
}

.list{

  &--customer2{
    margin-top: 45px;
  }

  &__item{
    margin-bottom: 45px;

    &--big-bottm-margin{
      margin-bottom: 70px;
    }

    &:last-child{
      //margin-bottom: 0;
    }
  }

  &__img{
    height: 35px;
    margin-left: 0;

    @media only screen and (min-width: @mini_phone){
      height: 40px;
      margin-left: 5px;
    }

    @media only screen and (min-width: @sm_screen){
      height: 45px;
    }

    @media only screen and (min-width: @lg_screen){
      height: 50px;
    }

    &--larger{
      @media only screen and (min-width: @tablet){
        height: 50px;
        float: right;
        margin-right: 10px;
      }

      @media only screen and (min-width: @big_tablet){
        height: 40px;
        float: left;
        //margin-right: 10px;
      }

      @media only screen and (min-width: @sm_screen){
        height: 50px;
      }

      @media only screen and (min-width: @lg_screen){
        height: 60px;
      }
    }

    &--customer{
      height: 40px;
      display: block;
      margin: 0 auto;
    }

    &--own-supplier{
      @media only screen and (min-width: @tablet){
        height: 70px;
      }

      @media only screen and (min-width: @big_tablet){
        height: 60px;
      }
      //height: 50px;
    }
  }

  &__header{
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: @black_text;

    @media only screen and (min-width: @mini_phone){
      font-size: 0.9rem;
    }

    @media only screen and (min-width: @tablet){
      padding-left: 1%;
    }

    @media only screen and (min-width: @sm_screen){
      font-size: 1rem;
      padding-left: 5%;
    }

    @media only screen and (min-width: @lg_screen){
      //font-size: 1.1rem;
      font-weight: 700;
      padding-left: 10%;
    }

    &--customer{
      @media only screen and (min-width: @tablet){
        padding-left: 10px;
      }
    }

    &--customer2{
      text-align: center;
      text-align: -moz-center;
      font-size: 0.95rem;
    }

    &--own-supplier{
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 5px;

      @media only screen and (min-width: @big_tablet){
        font-size: 1.3rem;
      }
    }
  }

  &__text{
    font-size: 0.7rem;
    color: @dark_grey_text;

    @media only screen and (min-width: @mini_phone){
      font-size: 0.8rem;
    }

    @media only screen and (min-width: @tablet){
      padding-left: 6% ;
    }

    @media only screen and (min-width: @big_tablet){
      padding-left: 8%;
    }

    &--without-padding{
      padding-left: 1%;

      @media only screen and (min-width: @sm_screen){
        padding-left: 5%;
      }

      @media only screen and (min-width: @sm_screen){
        padding-left: 10%;
      }
    }

    &--allowed{
      color: @blue_color;
      text-decoration: none;
      text-decoration: -moz-none;
    }

    &--customer{
      @media only screen and (min-width: @tablet){
        text-align: center;
        text-align: -moz-center;
      }
    }

    &--customer2{
      text-align: center;
      text-align: -moz-center;
    }
  }
}

.text-block{
  margin: 45px 15px 0;

  @media only screen and (min-width: @sm_screen){
    //margin: 55px 45px 0;
  }

  @media only screen and (min-width: @sm_screen){
    margin: 45px 35px 0;
  }

  &__text{
    color: @black_text;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.3rem;
    //text-align: center;
    //text-align: -moz-center;

    @media only screen and (min-width: @mini_phone){
      font-size: 0.85rem;
    }

    @media only screen and (min-width: @big_tablet){
      text-align: center;
      text-align: -moz-center;
    }

    @media only screen and (min-width: @lg_screen){
      margin: 45px 70px 0;
      font-size: 0.9rem;
      font-weight: 400;
    }


    &--link{
      color: @blue_color;
    }
  }
}


.fifth-block{
  background-color: @light_grey_color;

  &__container{
    width: 100%;
    margin: 0 auto;
    //margin-bottom: 3%;

    @media only screen and (min-width: @tablet){
      width: 80%;
    }

    @media only screen and (min-width: @sm_screen){
      width: 70%;
      //padding-bottom: 1.5%;
    }

    @media only screen and (min-width: @lg_screen){
      width: 800px;
    }

    &--additional{
      width: 100%;
      margin: 0 auto;
      //margin-bottom: 3%;

      @media only screen and (min-width: @tablet){
        width: 80%;
      }

      @media only screen and (min-width: @big_tablet){
        width: 90%;
      }

      @media only screen and (min-width: @sm_screen){
        /*width: 80%;
        margin: 0;*/
      }
    }

    &--with-form{

      @media only screen and (min-width: @sm_screen){
        width: 90%;
        margin: 0 auto;
      }

      @media only screen and (min-width: @lg_screen){
        width: 1000px;
      }
    }
  }

  &__header{
    //background-color: #00b0ff;
    text-align: center;
    text-align: -moz-center;
    font-size: 1rem;
    font-weight: 500;
    color: @black_text;
    padding: 7%;

    @media only screen and (min-width: @mini_phone){
      font-size: 1.15rem;
    }

    &--blue{
      color: @blue_color;
    }

    @media only screen and (min-width: @big_tablet){
      padding: 5% 7%;
      text-align: left;
      text-align: -moz-left;
      font-size: 1.2rem;
    }

    @media only screen and (min-width: @sm_screen){
      padding: 4% 5%;
      font-size: 1.5rem;
    }

    @media only screen and (min-width: @lg_screen){
      font-size: 2rem;
    }
  }

  &__list{
    padding: 40px 20px;

    @media only screen and (min-width: @big_tablet){
      padding: 40px 0;
    }
  }
}

.form{
  //background-color: #eceff1;
  background-color: @white;
  padding: 35px 30px;
  //text-align: center;
  //text-align: -moz-center;
  //margin-bottom: 5%;

  &__header{
    color: @black_text;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 20px;

    @media only screen and (min-width: @big_tablet){
      text-align: -moz-left;
      text-align: left;
    }
  }

  &__error{
    margin-top: -25px;
    margin-bottom: 10px;
    font-size: 0.8rem;
    color: #e10000;
  }

  @media only screen and (min-width: @tablet){
    padding: 4% 10%;
  }

  @media only screen and (min-width: @sm_screen){
    width: 85%;
    margin: 4% auto 4%;
    //margin-top: 4%;
  }

  &--modal{

    margin-top: 0;
    margin-bottom: 0;
    padding: 3% 0;

    @media only screen and (min-width: @sm_screen){
      padding: 1% 0;
      background-color: #ECEFF1;
      border: none;
    }
  }

  &--show{
    display: flow;
    /*display: flex;
    display: -moz-flex;*/

    /*@media only screen and (min-width: @big_tablet){
      display: none;
    }*/
  }

  &--hidden{
    display: none;

    @media only screen and (min-width: @big_tablet){
      display: block;
    }
  }

  &--border-bottom{
    border: 1px solid @grey_border;

    @media only screen and (min-width: @sm_screen){
      width: 85%;
      margin: 4% auto 0;
      //margin-top: 4%;
    }
  }

  &__select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 97% 50%;
    background-color: white;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  &__input-field{
    border-radius: 5px;
    border: 1px solid @grey_border;
    //border-radius: 0;
    display: block;
    width: 100%;
    padding: 5px;
    margin: 10px auto;
  }

  &__note{
    margin-top: 25px;
    color: @dark_grey_text;
    font-size: 0.75rem;
    text-align: center;
    font-weight: 300;
  }

  &__container {
    text-align: left;
    text-align: -moz-left;
    padding-left: 30px;
    display: block;
    width: 90%;
    margin: 20px auto;
    font-size: 0.9rem;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  &__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom checkbox */
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  &__container:hover input ~ &__checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  &__container input:checked ~ &__checkmark {
    background-color: #00b0ff;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  &__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  &__container input:checked ~ &__checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  &__container &__checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.sixth-block{

  background-color: @white;

  &--profile{
    background-color: #ffffff;
    border: none;

    @media only screen and (min-width: @sm_screen){
      background-color: #fafafa;
    }
  }

  &__container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-align: -moz-center;
    padding-bottom: 3%;

    @media only screen and (min-width: @tablet){
      width: 90%;
    }

    @media only screen and (min-width: @sm_screen){
      width: 85%;
    }

    @media only screen and (min-width: @lg_screen){
      width: 1100px;
    }

    &--full-width{
      width: 100%;
    }
  }

  &__header{
    font-size: 1.25rem;
    font-weight: 500;
    margin: 35px auto 15px;
  }
}

.report{
  //border-top: 1px dashed grey;
  //border-bottom: 1px dashed grey;
  width: 90%;
  margin: 0 auto 35px;
  padding: 7% 5px;
  text-align: left;
  text-align: -moz-left;

  @media only screen and (min-width: @tablet){
    padding: 4% 4%;
  }

  &--slaider{
    width: 100%;
    padding: 0 20px;

  }



  @media only screen and (min-width: @sm_screen){
    padding: 2% 4%;
  }

  &__img{
    height: 40px;

    @media only screen and (min-width: @tablet){
      float: right;
      padding-right: 15px;
    }
  }

  &__header{
    text-align: right;
    text-align: -moz-right;
    font-size: 0.85rem;
    font-weight: 400;
    //font-weight: 600;
    color: @dark_grey_text;
    //padding: 0 2%;
  }

  &__price{
    font-size: 0.95rem;
    color: #00b0ff;
  }

  &__master{
    margin-top: 15px;
    font-size: 0.85rem;
    color: @dark_grey_text;
    text-align: right;
    text-align: -moz-right;

    &--link{
      color: @blue_color;
      text-decoration: none;
      text-decoration: -moz-none;
    }
  }

  &__text{
    margin-top: 4%;
    padding-right: 2%;
    font-size: 0.85rem;
    color: #605e5e;
    font-style: italic;

    @media only screen and (min-width: @tablet){
      margin-top: 2%;
    }

    &--master{

    }
  }

  &__signature{
    text-align: right;
    text-align: -moz-right;
    //float: right;
    //padding-right: 2%;
    margin-top: 15px;
    color: #605e5e;
    font-size: 0.85rem;

    @media only screen and (min-width: @tablet){
      margin-top: 3%;
    }
  }
}


.seventh-block{

  &__container{
    width: 60%;
    margin: 0 auto 2%;

    @media only screen and (min-width: @tablet){
      width: 70%;
    }

    @media only screen and (min-width: @big_tablet){
      width: 90%;
    }

    @media only screen and (min-width: @sm_screen){
      width: 80%;
    }
  }

  &__header-block{
    //margin: 15% 0 5%;
    //width: 100%;
    padding: 25px 0;
    background-color: @blue_color;
    text-align: center;
    text-align: -moz-center;
    //position: relative;
    //padding: 4% 0 5.5%;

    /*@media only screen and (min-width: @tablet){
      margin: 5% 0 2%;
      padding: 3% 0 3.5%;
    }*/

    @media only screen and (min-width: @tablet){
      padding: 20px 0;
    }

    @media only screen and (min-width: @sm_screen){
      padding: 15px 0;
      margin-bottom: 20px;
    }

    /*@media only screen and (min-width: @tablet) {
      padding: 1% 0 1.5%;
    }*/
  }

  &__header{
    font-size: 2rem;
    font-weight: 500;
    //font-weight: 300;
    color: @white;

    /*@media only screen and (min-width: @tablet){
      font-size: 1.5rem;
    }*/
  }

  &__img{
    display: inline-block;
    width: 90%;
    padding-left: 5%;
  }
}



//-------------search----------------------

.filter{
  &--show{
    display: flow;
    /*display: flex;
    display: -moz-flex;*/

    @media only screen and (min-width: @big_tablet){
      display: none;
    }
  }

  &--hidden{
    display: none;

  }
}

.find{
  display: none;
  background-color: #00b0ff;
  padding: 25px 0;
  text-align: center;
  text-align: -moz-center;

  @media only screen and (min-width: @big_tablet){
    display: block;
  }


  &__text{
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
  }
}

.tab {

  height: 45px;
  margin-bottom: 5px;

  @media only screen and (min-width: @sm_screen){
    width: 85%;
    margin: 0 auto;
  }

  &__item{
    border: 2px solid #cccccc;

    &:first-child{
      border-right: none;
    }
  }

  &__button {
    background-color: #eceff1;
    border: none;
    height: 100%;
    width: 100%;
    //padding: 3%;
    cursor: pointer;
    outline: none;
    font-size: 0.95rem;
    font-weight: 600;
    color: #a0a09f;

    &--active {
      background-color: #00b0ff;
      color: white;
    }

    @media only screen and (min-width: @big_tablet){
      font-size: 0.8rem;
    }

    @media only screen and (min-width: @sm_screen){
      font-size: 0.9rem;
    }
  }
}

.hint-list{
  padding: 3% 10% 5%;

  @media only screen and (min-width: @sm_screen){
    width: 85%;
    margin: 0 auto;
    background-color: @white;
    border-right: 1px solid @grey_border;
    border-left: 1px solid @grey_border;
    border-bottom: 1px solid @grey_border;
    margin-bottom: 3%;
  }

  &--border-bottom{
    border-bottom: 1px solid @grey_border;
    margin-bottom: 0;
  }

  &__header{
    font-size: 1.1rem;
    font-weight: 400;
    //color: #605e5e;
    margin-bottom: 10px;
    color: @dark_grey_text;
  }

  &__item{
    font-size: 0.8rem;
    //color: #605e5e;
    margin-top: 2%;
    color: @dark_grey_text;

    &--href{
      text-decoration: none;
      text-decoration: -moz-none;
      color: #00b0ff;
    }
  }
}

.search-panel{

  @media only screen and (min-width: @big_tablet){
    border-right: 1px solid grey;
  }

  @media only screen and (min-width: @sm_screen){
    border: none;
  }
}

.search__container{
  width: 100%;
  margin: 0 auto;

  @media only screen and (min-width: @big_tablet){
    border-top: 1px solid #a0a09f;
  }

  @media only screen and (min-width: @sm_screen){
    width: 80%;
    border: none;
    margin-top: 5%;

  }
}

.profile{
  background-color: @white;
  padding: 5% 5%;
  border: 1px solid @grey_border;
  /*-webkit-box-shadow: 0px 2px 6px 1px rgba(77,77,77,1);
  -moz-box-shadow: 0px 2px 6px 1px rgba(77,77,77,1);
  box-shadow: 0px 2px 6px 1px rgba(77,77,77,1);*/
  margin-bottom: 10px;

  &__container{
    @media only screen and (min-width: @sm_screen) {
      padding-top: 5.8%;
    }

    &--optional{
      padding-top: 0;
    }

    &--page{
      width: 100%;
      margin: 0 auto;
      @media only screen and (min-width: @tablet) {
        width: 90%;
      }

      @media only screen and (min-width: @big_tablet) {
        width: 80%;
      }

      @media only screen and (min-width: @sm_screen) {
        width: 70%;
      }

      @media only screen and (min-width: @sm_screen) {
        width: 50%;
      }
    }
  }

  @media only screen and (min-width: @sm_screen){
    margin: 0 2% 2%;
    //background-color: #fafafa;

  }

  &__name{
    color: #00b0ff;
    font-size: 1.5rem;
    margin-bottom: 3%;

    &--link{
      color: #00b0ff;
      font-size: 1.5rem;
      //margin-bottom: 20px;
      //padding-bottom: 15px;
      text-decoration: none;
      text-decoration: -moz-none;
    }
  }

  &__avatar{
    width: 110px;
    border: 4px solid white;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(77,77,77,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(77,77,77,1);
    box-shadow: 0px 0px 1px 1px rgba(77,77,77,1);

    @media only screen and (min-width: @big_tablet){
      width: 100px;
    }

    @media only screen and (min-width: @lg_screen){
      width: 140px;
    }
  }

  &__qualities{
    padding-left: 2%;
    margin-bottom: 2%;

    &:first-child{
      margin-top: 2%;
    }
  }

  &__img{
    width: 30px;
    display: block;
    margin: 0 auto;
  }

  &__quality{
    font-size: 0.8rem;
  }

  &__about {
    margin-top: 4%;
    font-size: 0.95rem;
    color: #a0a09f;
  }
}

.pagination{

  padding: 3% 0;

  &__disabled{
    color: #a0a09f;
  }

  &__link{
    text-decoration: none;
    text-decoration: -moz-none;
    color: #00b0ff;
  }
}

.turn_form{
  margin-bottom: 1%;
  height: 30px;
  color: black;
  cursor: pointer;
  //padding-left: 15px;
  //height: 30px;

  &__img{
    height: 20px;
    margin-top: 5px;
    padding-left: 15px;
    /*margin-left: 10px;
    margin-right: 10px;*/
  }

  &__text{
    padding-left: 20px;
    color: #605e5e;
    //display: inline;
    //height: 30px;
  }
}

.bordered-list{
  margin-top: 4%;

  &__header{
    font-size: 1.1rem;
    color: #605e5e;
  }

  &__item{
    border-bottom: 1px solid #605e5e;
    padding: 2% 1%;

    &:first-child{
      border-top: 1px solid #605e5e;
    }

    &--right{
      display: inline-block;
      display: -moz-inline-block;
      text-align: right;
      text-align: -moz-right;
      width: 15%;
      color: #605e5e;
      float: right
    }

    &--left{
      display: inline-block;
      display: -moz-inline-block;
      width: 85%;
      //float: left;
      color: #605e5e
    }
  }
}

.order{

  &__container{
    width: 95%;
    margin: 0 auto;

    @media only screen and (min-width: @sm_screen){
      width: 80%;
    }

    @media only screen and (min-width: @lg_screen){
      width: 60%
    }
  }

  &__block__header{
    border-bottom: 1px solid grey;
    padding: 5% 2%;

    @media only screen and (min-width: @big_tablet){
      padding: 3% 2%;
    }
  }

  &__header{
    font-size: 1.3rem;
    color: #2f2e2e;

    @media only screen and (min-width: @big_tablet){
      font-size: 1.5rem;
    }
  }
}

.orders-list{

  margin: 35px auto;

  &__img{
    max-height: 40px;
    float: right;
    margin-right: 10px;
  }

  &__header{
    font-size: 1.3rem;
    font-weight: 400;
    color: #2f2e2e;
  }

  &__text{
    margin: 10px 15px 15px;
    font-size: 0.95rem;
    color: #605e5e;

    @media only screen and (min-width: @big_tablet){
      margin: 10px 0;
    }

    @media only screen and (min-width: @sm_screen){
      font-size: 0.9rem;
    }

    &--link{
      color: #00b0ff;
      text-decoration: none;
      text-decoration: -moz-none;
    }
  }

  &__order{
    //margin: 0 15px;
    border-bottom: 1px solid #dbdee0;
    cursor: pointer;
  }

  &__item{
    font-size: 0.95rem;
    padding: 7px 0 7px 5px;
    color: #00b0ff;

    @media only screen and (min-width: @sm_screen){
      font-size: 0.9rem;
    }


    &--header{
      font-size: 0.75rem;
      font-weight: 700;
      color: #2f2e2e;
      border-bottom: 1px solid #2f2e2e;
    }

    &--center{
      padding: 7px 0;
      text-align: center;
      text-align: -moz-center;
    }

    &--need-add{
      color: #2f2e2e;
      font-weight: 600;
    }
  }
}

.background-modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
  background-color: #ECEFF1;
  margin: 5% auto; /* 15% from the top and centered */
  //padding: 25px;
  //border: 1px solid #888;
  padding-bottom: 5px;
  position: relative;
  width: 95%; /* Could be more or less, depending on screen size */

  @media only screen and (min-width: @tablet) {
    width: 70%;
  }

  @media only screen and (min-width: @big_tablet) {
    width: 60%;
  }

  @media only screen and (min-width: @lg_screen) {
    width: 50%;
  }

  &__close{
    position: absolute;
    top: -4px;
    right: 5px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #2f2e2e;
    font-weight: 300;
  }
}


.slideshow-container {
  //height: 1000px;
  //max-width: 1000px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 90%;
  margin: 0 auto;

  @media only screen and (min-width: @lg_screen){
    width: 95%;
  }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: @dark_grey_text;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.prev{
  left: 0;
}

.next {
  right: 0;
  //border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  //background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.fifth-block-customer {

  &__container {
    margin: 20px auto;
    width: 90%;
  }

  &__img{
    width: 100%;

    @media only screen and (min-width: @big_tablet){
      width: 90%;
    }
  }

  &__header{
    text-align: center;
    text-align: -moz-center;
    margin-top: 25px;
    font-size: 1.4rem;
    color: @black_text;
  }

  &__text{
    margin-top: 15px;
    font-size: 0.9rem;
    color: @dark_grey_text;
  }
}
